*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
bin/
obj/
packages/
[Rr]elease*/
_ReSharper*/
*.pyc
*.db

Solution/.vs/
Source/AndroidBluetoothInputDeviceMainProject/\.DS_Store
